<div class="container">
  <div class="wrapper">
    <div class="section-header">
      <div class="section-header-text">
        <h1>T O D O</h1>
      </div>
      <div class="section-header-logo">
        <img src="../assets/imgs/icon-moon.svg" />
      </div>
    </div>

    <div class="section-input">
      <input
        type="text"
        name="todo-content"
        id="todo-content"
        placeholder="Enter your task..."
        #todo
        (keyup.enter)="createTodo(todo)"
      />
      <fa-icon [icon]="faX" class="icon"></fa-icon>
    </div>

    <div *ngIf="isLoading" class="loading">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <h3 style="text-align: center" *ngIf="isLoading">{{ status }}</h3>

    <div class="section-content" *ngIf="todos && !isLoading">
      <app-todo-detail [todos]="todos"></app-todo-detail>
    </div>
  </div>
</div>
