<div class="container">
  <div class="wrapper">
    <div class="section-header">
      <div class="section-header-text">
        <h1>T O D O</h1>
      </div>
      <div class="section-header-logo">
        <img src="../assets/imgs/icon-moon.svg" />
      </div>
    </div>

    <div class="section-input">
      <input
        type="text"
        name="todo-content"
        id="todo-content"
        placeholder="Enter your task..."
        #todo
        (keyup.enter)="createTodo(todo)"
      />
      <fa-icon [icon]="faX" class="icon"></fa-icon>
    </div>

    <div *ngIf="isLoading" class="loading">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <h3 style="text-align: center" *ngIf="isLoading">{{ status }}</h3>

    <div class="section-content" *ngIf="todos && !isLoading">
      <div class="section-todos" *ngFor="let todo of todos">
        <input
          type="checkbox"
          name="todo-checkbox"
          id="{{ todo.id }}"
          [checked]="todo.isCompleted"
        />
        <label
          for="{{ todo.id }}"
          class="label-checkbox"
          (click)="updateTodo(todo)"
        >
          {{ todo.todo }}
        </label>
        <fa-icon [icon]="faX" class="icon" (click)="deleteTodo(todo)"></fa-icon>
      </div>
      <div class="section-results">
        <p>{{todosNotCompleted.length}} items left</p>
        <button (click)="clearAllCompleted()" class="btn-clear">Clear Completed</button>
      </div>
    </div>
  </div>
</div>
